body {
    background-image: linear-gradient(to right, #ffffff, #c9c9c9, #ffffff);
  }
* {
    font-family: "Quantico", sans-serif;
    font-weight: 400;
    font-style: bold;
  }

.indexheader {
  background-image: url(header\ banner.jpg);
  padding: 5px;
}

#logo {
  max-height: 80px;
}

#plantchip {
  max-width: 40%;
  border: solid 5px grey;
}

.contents li {
  border: solid 3px black;
  margin: 10px;
  max-width: 25%;
  background-color: lightgray;
}

ul.contents {
  background-color: darkgray;
  border: solid 3px black;
}

.lowernav {
  background-color: lightgray;
}
